#thetextparagraph{
    width: 400px;
    font-size: 18px;
	  text-align: justify;

}

h2 {
    width: 370px;
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 28px;
}

h3 {
    padding-top: 0px;
    margin-top: 0px;
}
/*html, body {
    height: 100%;
}*/

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

td {
  vertical-align: top;
  padding-right: 20px;
}
