#theText{
     width: 450px;
     font-size: 18px;
     text-align: justify;

 }
#thetextparagraph{
    width: 400px;
    font-size: 18px;
	  text-align: justify;

}

h2 {
    width: 370px;
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 28px;
}

h3 {
    padding-top: 0px;
    margin-top: 0px;
}
/*html, body {
    height: 100%;
}*/

html {
    display: table;
    margin: auto;
}

body {

    display: table-cell;
    vertical-align: middle;
    overflow: scroll;

}

#textandvis{
    height: 960px;
    width: 1280px;
    overflow: scroll;
    border-top: 4px solid #900;
    border-bottom: 4px solid #900;
    border-left: 4px solid #900;
    border-right: 4px solid #900;
}
td {
  vertical-align: top;
  padding-right: 20px;
}
