#thetextparagraph{
    width: 400px;
    font-size: 18px;
	  text-align: justify;

}

h2 {
    width: 350px;
    text-align: left;
}

/*html, body {
    height: 100%;
}*/

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

td {
  vertical-align: top;
  padding-right: 20px;
}
