
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="static/js/jquery.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Your feedback</title>

    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/rating.min.css">
    <link rel="stylesheet" href="static/css/rating.min.css">
    <link rel="stylesheet" href="static/css/view.css">
    <script>
      currentMMD = '{{mmd}}';
      console.log(currentMMD);
      questions = '{{questions}}';
      console.log(questions);
      var parser = new DOMParser;
      var dom = parser.parseFromString(
          '<!doctype html><body>' + questions,
          'text/html');
      var decodedString = dom.body.textContent;

      console.log(decodedString);
      questionObj = JSON.parse(decodedString);
      //console.log(JSON.stringify(questionObj));
    </script>

</head>
<body id="main_body" >

<!--<img id="top" src="top.png" alt="">-->

<div id="form_container">

    <!--<h1><a>Your feedback</a></h1>-->
    <div class="form_description">
        <h2>Questions</h2>
     </div>
    <div>Please rate how strongly you agree or disagree with each of the following statements with respect to the tool you have used (<b>more stars means higher agreement</b>).</div>
    <div id="star_rating" style="padding-left: 25px;"></div>
    <form id="form_questionnaire" class="appnitro"  method="post" action="javascript:submitPostStudy();">

        <ul id = 'questionList'>

            <!--<li id="li_1" >-->
                <!--<label class="description" for="element_1">Disciplinary bias according to a survey of inmates' Religious beliefs</label>-->
                <!--<span>-->
			<!--<input id="element_1_1" name="element_1" class="element radio" type="radio" value="1" />-->
			<!--<label class="choice" for="element_1_1">True</label>-->
			<!--<input id="element_1_2" name="element_1" class="element radio" type="radio" value="2" />-->
			<!--<label class="choice" for="element_1_2">False</label>-->

		        <!--</span>-->
            <!--</li>-->
            <!--<li id="li_2" >-->
                <!--<label class="description" for="element_2">A survey of chaplain's views on religious extremism in prison</label>-->
                <!--<span>-->
			<!--<input id="element_2_1" name="element_2" class="element radio" type="radio" value="1" />-->
			<!--<label class="choice" for="element_2_1">True</label>-->
			<!--<input id="element_2_2" name="element_1" class="element radio" type="radio" value="2" />-->
			<!--<label class="choice" for="element_2_2">False</label>-->

		<!--</span>-->
            <!--</li>-->

            <!--<li id="li_3" >-->
                <!--<label class="description" for="element_3">Which religious group is among those that "Fewer than one-in-ten of the chaplains say that religious extremism is very or somewhat common"?</label>-->
        <!--<span>-->
			<!--<input id="element_3_1" name="element_2" class="element radio" type="radio" value="1" />-->
			<!--<label class="choice" for="element_3_1">Catholics   </label>-->
			<!--<input id="element_3_2" name="element_1" class="element radio" type="radio" value="2" />-->
			<!--<label class="choice" for="element_3_2">Rastafari</label>-->

		<!--</span>-->
            <!--</li>-->

            <!--</li>-->

            <!--<li id="li_4" >-->
                <!--<label class="description" for="element_4">A ______  of chaplains reported that Religious Extremism  among Protestants is very common common in prisons where they work.</label>-->
                <!--<span>-->
			<!--<input id="element_4_1" name="element_2" class="element radio" type="radio" value="1" />-->
			<!--<label class="choice" for="element_3_1">Majority       </label>-->
			<!--<input id="element_4_2" name="element_1" class="element radio" type="radio" value="2" />-->
			<!--<label class="choice" for="element_3_2">Minority</label>-->

		<!--</span>-->
            </li>

            <!--<li id="li_6" >-->
                <!--<label class="description" for="element_6">Any open-end </label>-->
                <!--<div>-->
                    <!--<textarea id="element_6" name="element_6" class="element textarea small"></textarea>-->
                <!--</div>-->
            <!--</li>-->


        </ul>
        <ul>
            <li class="buttons">
                <input type="hidden" name="form_id" value="1124778" />

                <input id="saveForm" class="button_text" type="submit" name="submit" value="Submit Answers" />
            </li>
        </ul>
    </form>

</div>
<!--<img id="bottom" src="bottom.png" alt="">-->
<script type="text/javascript" src="static/js/rating.min.js"></script>

<script src="static/js/questionnaire.js"></script>

</body>
</html>